<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
    
		<!-- 配置连接数据库的基本信息 -->
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql:///david_hibernate</property>
		
		<!-- 配置 hibernate 的基本信息 -->
		<!-- hibernate 所使用的数据库方言 -->
		<!-- <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property> -->
		<!--注意此处：在mysql 5.0版本以后不支持 type=InnoDB 关键字，需要使用 engine=InnoDB,上面方言可能导致hibernate创建表失败！-->		
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>		
		
		<!-- 执行操作时是否在控制台打印 SQL -->
		<property name="show_sql">true</property>
	
		<!-- 是否对 SQL 进行格式化 -->
		<property name="format_sql">true</property>
	
		<!-- 指定自动生成数据表的策略 -->
		<!--
			如下配置有四个取值：
			create:依据.hbm.xml创建表，每次运行都会删除已经存在的表，然后再新建，操作导致原有数据丢失
			create-drop:依据.hbm.xml创建表，但是在sessionFactory关闭后会自动删除表
			update:最常用的，依据.hbm.xml创建表，会根据.hbm.xml中的配置对已存在的表更新表结构，不会删除已有的行和列
			validate：会与数据库中存在的表进行比较，若.hbm.xml存在的列，数据库表不存在会抛出异常
		-->
		<property name="hbm2ddl.auto">update</property>
		
		<!-- 指定关联的 .hbm.xml 文件 -->
		<mapping resource="com/david/hibernate/helloworld/entity/News.hbm.xml"/>
	
	</session-factory>

</hibernate-configuration>
